# Archivos de video y fragmentos
*.m4s
*.mp4
*.ts
*.mpd
*.m3u8
*.vtt
*.srt
# Archivos de metadatos de N_m3u8DL-RE
# Archivos de metadatos en cualquier nivel de subcarpetas
**/*.meta_selected.json
**/*.meta.json

# Archivos de configuracion predefinidos del usuario
*.presets.json
